<!doctype html>
<html lang="en">
<head>
  <meta charset="utf8">
  <title><%= @title + ' | Quora' %></title>
  <link href="/reset.css" rel="stylesheet">
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/">Quora Sinatra</a></h1>
      <h2>Get all the answers you ever need!</h2>
    </hgroup>
  </header>
 
  <div id="main">
    <%= yield %>
  </div>
 
  <footer>
    <p><small>Check me out at <a href="http://linhbui.me">linhbui.me</a>.</small></p>
  </footer>
</body>
</html>
